{{#partial "content"}}

    <a href="/rangers/new" class="text-center btn btn-outline-warning"> New Ranger </a>
    <br><br>
    <a href="/locations/new" class="text-center btn btn-outline-primary"> New Location </a>
    <br><br>
    <a href="animals/new" class="text-center btn btn-outline-success"> New Animal </a>



{{/partial}}

{{> layout.hbs}}