{{#partial "content"}}
    <form class="form-group" action="/animals" method= post>
        <h3> Add animal info: </h3>
        <label for="name"> Species: </label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Enter the species of animal" required>
        <label for="age">Age: </label>
        <input class="form-control" id="age" name="age" type="number" placeholder="Enter animal age" required>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label for="health" class="input-group-text"> Health state: </label>
            </div>
            <select class="custom-select" id="health" name="health" required>

                <option value="healthy">healthy</option>
                <option value="ill">ill</option>

            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label for="endangered" class="input-group-text"> Endangered: </label>
            </div>
            <select class="custom-select" id="endangered" name="endangered" required>

                    <option value="true">true</option>
                    <option value="false">false</option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary"> Add Info </button>
    </form>
{{/partial}}

{{> layout.hbs}}