

{{#partial "content"}}
    <div class="jumbotron">
        <h1 class="text-center">Welcome to Wildlife-Tracker!!!</h1>
        <hr>
        <small class="text-center"> ~preserving wildlife for us~ </small>
    </div>





{{/partial}}

{{> layout.hbs}}